body {
  font-family: 'Lato', sans-serif;
}

.change-date {
  width: 80%;
  margin: 15px auto;
}

.virtual {
  background: #999999;
}

.actual {
  background: repeating-linear-gradient(-60deg, #555 0, #555 1px, transparent 1px, transparent 5px);
}

table {
  height:100%;
  width: 80%;
  border: 1px solid #555555;
  border-collapse: collapse;
  border-spacing: 0px;
}

table tr th {
  height: 45px;
}

table tr td {
  height:38px;
  width: 20px;
  padding: 0px;
}

td:first-child {
  text-align: center;
  font-weight: bold;
  color: #333333;
}

td:nth-child(2) {
  text-align: center;
  color: #333333;
}
